.css-fe6cfp-Table {
    /* height: fit-content !important; */
    /* height: unset !important; */
    height: unset !important;
  }
  
  
  
  .css-bfvl0x-getHeaderRowContainerStyle-HeaderRow {
    color: blue !important;
  }
  
/*   
  .css-fe6cfp-Table {
    height: unset;
  } */
  